@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Rubik+Marker+Hatch&display=swap');

.header{
    color: #cb8c16;
    font-size: 16px;
}

body {
    background-color: #f8f8f8;
}
.menu {
    font-size: 20px;
    font-style: italic;
    list-style-type: none;
}
a {
    color: #f50056;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: #1ba6d7;
}
/*Работа с фото*/
.photo {
    border-radius: 28px;
    outline: solid #cb8c16 3px;
}
.photo1:hover {
    outline: none;
}
.photo2:hover {
    outline: none;
}
.photo3:hover {
    outline: none;
}
.head{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}
.description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.paragraph {

    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.paragraph:first-letter {
    font-family: 'Rubik Marker Hatch', cursive;
    font-size: 30px;
}
/*Стилизация фото в файле catalog.html*/
.photo_cat {
    margin-bottom: 30px;
}
.heading_cat {
    margin: 10px 0 0 0 ;
}
/*.spisok {
    list-style-image: url("../images/маркер.png");
    color: #600067;
    font-style:oblique;
    font-weight: bold;
    font-size: 19px;
}*/
/*Стилизация таблицы файлов (папка page)*/
table.t_characteristics{
    width: 20%;
    border-collapse:collapse;
    border-spacing:0;
    height: auto;
}
table.t_characteristics,table.t_characteristics td, table.t_characteristics th {
    border: 2px solid #cb8c16;
    text-align: center;
}

table.t_characteristics th {
    background: #1ba6d7;
    color: #fff;
}
/*Стилизация полей файла "contacts.html" */
input {
    width: 220px;
    height: 20px;

}
textarea {
    width: 210px;
    height: 55px;
}
.button {
    width: 100px;
    height: 20px;
    color: #000021;
    font-weight: bold;
}
.inp_decor {
    text-transform: capitalize;
    color: #a10031;
    background-color: #e1ecec;
}
.inp_decor::-webkit-input-placeholder{
    text-transform: none;
}
.inp_email {
    background-color: #e1ecec;
}
.inp_email:focus {
    background-color: #97e1ce;
    color: #f50056;
}
/*Работа со строками*/
.bold {
    font-weight: bold;
    color: #000021;
}

/*Подвал*/
.footer{
    text-align: center;
    font-weight: bold;
}